@import url('https://fonts.googleapis.com/css2?family=Inder&family=Zilla+Slab&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /*10px / 16px */
    --font-default: 'Zilla Slab';
    --font-heading: 'Inder';
    --color-default: #FFF;
    --color-secundary: #000;
}

body{
    font-family: var(--font-default);
}

/*header{
    display: flex; /*flexbox*//*
    flex-direction: row;
    align-items: flex-start;
    height: 50vh;
    gap: 30.125rem;
    background-color: var(--color-secundary);
    color: var(--color-default);
    /* shorthand *//*
    padding: 1.313rem 1.438rem;
   
}*/

h1, 
h2,
h3{
    font-weight: 900; 
}

h1{
    font-family: var(--font-heading);
    font-size: 6rem;
    margin-bottom: 1rem;
}

h2{
    font-family: var(--font-default);
    font-size: 2rem;
}

h3{
    font-family: var(--font-default);
    font-size: 3rem;
    color: var(--color-default)
}

.botao{
    padding: 1.4rem 1rem;
    background: var(--color-secundary);
    border-radius: 10px;
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

section {
    display: flex;
    gap: 2rem;
    padding: 8.6rem;
    background-color: var(--color-secundary);
}

/*.avatar {
    border-radius: 50%;
}*/

/*#texto-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}*/

#header1{
    display: flex; /*flexbox*/
    flex-direction: row;
    align-items: center;
    height: 32vh;
    gap: 3.125rem;
    background-color: var(--color-secundary);
    color: var(--color-default);
    /* shorthand */
    padding: 1.313rem 1.438rem;
}

#header2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 19vh;
    gap: 5.56rem;
    background-color: var(--color-secundary);
    padding: 1rem 25rem;
}

#secao-livros{
    display:flex;
    flex-direction: column;
    height: 1vh;
    color: var(--color-default);
    background-color: var(--color-secundary);
    padding-left: 2.43rem;
}

#lista-livros{
    display: flex;
    gap: 3rem;
    justify-content: left;
    height: 32vh;
    list-style: none;
    background-color: var(--color-secundary);
    padding-left: 0.8rem;
}

#textbox {
    padding: 0.1rem 19rem;
    resize: none;
}

.card{
    position: absolute;
    cursor: pointer;
}

.card:hover .card-image{
    opacity: .2;
}

.card:hover .card-info{
    opacity: 1;
    bottom: 20%;
}

.card-image img {
    height: 250px;
    width: 169.63px;
    border-radius: 10px;
}

.card-info{
    position: absolute;
    bottom: 10%;
    opacity: 0;
    transition: opacity .5s ease-in-out, bottom .5s;
}